/* Schriftart festlegen */
body {
  font-family: 'Roboto', sans-serif;
}

.title {
  border: 2px solid grey;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1.5rem;
  display: inline-block;
  margin: 0 auto;
}